/* ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* POPPINS FONT */
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}   
body{

    min-height: 100vh;
    /* background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center; */
        /* background: linear-gradient(90deg, rgb(234, 208, 174) 0%, rgb(235, 199, 152) 35%, rgb(222, 171, 113) 67%); */
}

.container{
    background-image: url(assets/bg.jpg);
    opacity: .9;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

.login-box{
    position: absolute;
    width: 470px;
    height: 550px;
    padding: 10px 30px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.login-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 30px 0;
    
}
.login-header header{
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 30px;
    margin-bottom: 5px;
}
.login-header p{
    color: #555;
}
.input-box{
    position: relative;
    width: 100%;
}
.input-box label{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #555;
    transition: .15s ease-in-out;
}
.input-box input{
    width: 100%;
    height: 50px;
}
.input-box .input-field{
    font-size: 1em;
    color: #333;
    padding-left: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}
.input-box input[type="password"]{
    margin-bottom: 25px;
}
.input-box .input-field:focus{
    border: 2px solid black;
}
.input-field:focus ~ label, .input-field:valid ~ label{
    top: -8px;
    left: 12px;
    font-size: 12px;
    color:rgb(236, 182, 111);
    background: #FFF;
    padding: 0 5px;
}
.input-field:valid ~ label{
    color: #555;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.forgot label{
    margin-left: 5px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
section .forgot-link{
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.input-submit{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    background:rgb(244, 194, 130);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.middle-text{
    
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.or-text{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    color: #777;
    padding: 10px;
}
hr{
    border: 1px solid #ddd;
}
.social-sign-in{
    
    display: flex;
    gap: 15px;
}
button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}
.input-google{
    width: 1000%;
    height: 50px;
    padding: 0 30px; 
    background: #FFF;
    border: 1px solid #CCC; 
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.input-google img{
    width: 25px;
    
}
.input-google p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
}





.input-google:hover,
.input-submit:hover{
    opacity: 0.7;
}
.sign-up{
    
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.sign-up p{
    font-size: 14px;
    color: #333;
}
.sign-up p>a{
    color: rgb(208, 132, 33);
    text-decoration: none;
}

.signup-box{
    display:none;
    pointer-events: auto;
    position: relative;
    width: 470px;
    height: 600px;
    padding: 20px 30px ;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;    
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#first-name{
    width: 45%;
    float: right;
}

#last-name{
    width: 45%;
    
}

#first-name, #last-nameinput-field{
    gap: 50px;
}

.back-btn a{
    cursor: pointer;
    width: 15px;
    height: 15px;

}

.back-btn img{
    position: absolute;
    display: inline-block;
    top: 2.5em;
    left: 2.8em;
    width: 35px;
    height: 35px;    
    z-index: 1;
}

.back-btn img:hover {
    transform: scale(1.5);
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {
    .login-box, .signup-box{
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 576px) {
    .login-box, .signup-box {
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 480px) {
    .login-box{
        top: 80px;
        padding: 10px;
        width: 95%;
        height: 500px;
    }
    .signup-box{
        top: 20px;
        padding: 10px;
        width: 95%;
        height: auto;
    }
    .back-btn img{
        cursor: pointer;
        /* position: fixed; */
        width: 25px;
        height: 25px;
        top: 10px;
        left: 10px;
    
    }
    
    *{
        font-size: 12px;
    }
    
    .input-box input{
    width: 100%;
    height: 40px;
    }
}

